<!-- <%- include('partials/header'); -%>



    <div class="hero-section">

    </div>

    <div class="main__header-container">
        <div class="main__header-left">
            <h4>#100DaysOfBorrowingBookFree</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nostrum id eligendi earum aperiam
                molestias!
            </p>
            <button class="btn-2"><a href="/signup">Get Started</a></button>
            <button class="btn-4"><a href="#">Borrow A Book</a></button>
        </div>

    </div>




    <%- include('partials/footer'); -%>  -->


<%- include('partials/header'); -%>




    <label for="">
        <h6>Citadel of learning...</h6>
    </label>
    <fieldset class="login">
        <h5>Login to your account</h5>
        <form action="" class="std" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit" class="btn-btn">Log in</button>
        </form>
    </fieldset>
    <p>Dont have an account? <a href="/signup">Sign Up</a>
    <p><a href="#">Forgot Password</a></p>





    <%- include('partials/footer'); -%>










        <%- include('partials/footer'); -%>