<%- include('partials/header'); -%>




    <title></title>
    <html>

    <body>
        <h2>Single Book</h2>
        <h3>
            <%= book.book_title %>
        </h3>
        <p>
            <%= book.book_author %>
        </p>
        <p>
            <%=book.publication_year %>
        </p>
        <a href="/borrow/<%=book._id%>"><button type="submit">Borrow</button></a>
    </body>

    </html>




    <%- include('partials/footer'); -%>